@{
    ViewBag.Title = "Home Page";
}



<h4 style="text-align:center;color:blueviolet;font-weight:bold;">
    Panchanga 2015/2016
</h4>
<div style="text-align:center;">
    <iframe style="text-align:center;" src="/pdf/manmatha-panchanga-2015-16-est.pdf" width="80%" height="800"></iframe>
</div>