
@{
    ViewBag.Title = "Pooja";
}

    <ul>
        <li>
            <h3>Paaduka Pooja at devotee's home</h3>
            The pooja will be for 1 Hour. The items required are
            
            <br /><br />
            <table border="1" cellspacing="1" cellpadding="0">
                <thead>
                    <tr>
                        <th>Items</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TURMERIC POWDER</td>
                        <td>100 GRAM</td>
                    </tr>
                    <tr>
                        <td>KUMKUM POWDER</td>
                        <td>100 GRAM</td>
                    </tr>

                    <tr>
                        <td>GOD's IDOL (IF AVAILABLE AT HOME)</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>LAMP, WICK & OIL</td>
                        <td>1 SET</td>
                    </tr>
                    <tr>
                        <td>RICE</td>
                        <td>1/2 LB</td>
                    </tr>
                    <tr>
                        <td>INSENCE STICK (AGARBATTI)</td>
                        <td>1 PACKET</td>
                    </tr>
                    <tr>
                        <td>CHAMPOR</td>
                        <td>1 PACKET</td>
                    </tr>
                    <tr>
                        <td>BETEL LEAVES</td>
                        <td>5 #</td>
                    </tr>
                    <tr>
                        <td>BEETLE NUTS</td>
                        <td>1 PACKET</td>
                    </tr>
                    <tr>
                        <td>FLOWERS</td>
                        <td>2 Bunches</td>
                    </tr>
                    <tr>
                        <td>GARLAND</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>FRUITS (1 Any Type)</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>COCONUT</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>RAISINS, CASHEW, DATES, ALMONDS AND SUGAR CANDY </td>
                        <td></td>
                    </tr>
                </tbody>

            </table>
        </li>
    </ul>
    
                
            
    
    <br />
    <br />
    <ul>
        <li>
            <h3>Utsava Moorthy (Prahlada/Rayara) Pooja at devotees home</h3>
            The pooja will be approximately for 3 Hours. The items required are
        
            <br /><br />
            <table border="1" cellspacing="1" cellpadding="0">
                <thead>
                    <tr>
                        <th>Items</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>TURMERIC POWDER</td>
                        <td>100 GRAM</td>
                    </tr>
                    <tr>
                        <td>KUMKUM POWDER</td>
                        <td>100 GRAM</td>
                    </tr>
                    <tr>
                        <td>SANDAL WOOD POWDER</td>
                        <td>1 SMALL BOX</td>
                    </tr>
                    <tr>
                        <td>GOD's IDOL (IF AVAILABLE AT HOME)</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>LAMP, WICK & OIL</td>
                        <td>1 SET</td>
                    </tr>
                    <tr>
                        <td>RICE</td>
                        <td>1/2 LB</td>
                    </tr>
                    <tr>
                        <td>INSENCE STICK (AGARBATTI)</td>
                        <td>1 PACKET</td>
                    </tr>
                    <tr>
                        <td>CHAMPOR</td>
                        <td>1 PACKET</td>
                    </tr>
                    <tr>
                        <td>BETEL LEAVES</td>
                        <td>5 #</td>
                    </tr>
                    <tr>
                        <td>BEETLE NUTS</td>
                        <td>1 PACKET</td>
                    </tr>
                    <tr>
                        <td>FLOWERS</td>
                        <td>2 Bunches</td>
                    </tr>
                    <tr>
                        <td>GARLAND</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>5 TYPES FRUITS</td>
                        <td>EACH 5</td>
                    </tr>
                    <tr>
                        <td>COCONUT</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>ORGANIC MILK (Horizon Brand)</td>
                        <td>1 GALLON</td>
                    </tr>
                    <tr>
                        <td>YOGURT</td>
                        <td>1 SMALL</td>
                    </tr>
                    <tr>
                        <td>GHEE</td>
                        <td>1 Small Bottle</td>
                    </tr>
                    <tr>
                        <td>HONEY</td>
                        <td>1 Small Bottle</td>
                    </tr>
                    <tr>
                        <td>SUGAR</td>
                        <td>1 Small Packet</td>
                    </tr>
                    <tr>
                        <td>JUICE</td>
                        <td>1 Small Packet</td>
                    </tr>
                    <tr>
                        <td>ROSE WATER</td>
                        <td>1 Small Bottle</td>
                    </tr>

                    <tr>
                        <td>RAISINS, CASHEW, DATES, ALMONDS AND SUGAR CANDY </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>VASTRA FOR RAYARA MURTI</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>PAPER TOWEL</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
    
                
     